@font-face {
  font-family: "nobel";
  src: url("/fonts/fonnts.com-nobel_extralight-webfont.woff2") format("woff2"),
    url("/fonts/fonnts.com-nobel_extralightcondensed-webfont.woff")
      format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nobel";
  src: url("/fonts/fonnts.com-nobel_book-webfont.woff2") format("woff2"),
    url("/fonts/fonnts.com-nobel_book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nobel";
  src: url("/fonts/fonnts.com-nobel_bold-webfont.woff2") format("woff2"),
    url("/fonts/fonnts.com-nobel_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "nobel" !important;
  overflow-x: hidden;
}
