:root {
  --heading-color: #2c3e52;
  --sub-heading-color: #0a0a0e;
  --text-color: #6b6b6b;
  --second-text-color: #7d818b;
  --third-text-color: #323232;
  --orange: #e84c3d;
  --white: #ffffff;
}

a {
  text-decoration: none !important;
}
.btn {
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
  padding: 12px 26px !important;
  color: white !important;
  border-radius: 100px !important;
}

/* header-css */

header {
  padding: 30px 60px;
}
.navigation ul {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 30px;
  margin: 0px;
}
.navigation ul li i {
  font-size: 23px;
}
.navigation ul li a {
  color: var(--sub-heading-color);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}
button.whole-btn {
  background: transparent;
  border: 1px solid var(--orange);
  border-radius: 30px;
  padding: 10px 50px;
  font-size: 18px;
  font-weight: 400;
  transition: 0.5s all;
}

button.whole-btn:hover {
  background: var(--orange);
  color: white;
  transition: 0.5s all;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 22px;
}
button.second-btn {
  background: var(--orange);
  color: white;
  border: 1px solid var(--orange);
  border-radius: 40px;
  padding: 6px 50px;
  font-size: 18px;
  font-weight: 400;
  transition: 0.5s all;
  text-align: left;
  line-height: 21px;
  position: relative;
}
button.second-btn span {
  font-size: 11px;
}

button.dark-mode {
  background: #2c3e52;
  border: none;
  color: white;
  width: 60px;
  border-radius: 100%;
  font-size: 26px;
  padding: 0px 0px 3px;
  height: 60px;
}
button.light-mode {
  background: white;
  border: none;
  color: #2c3e52;
  width: 60px;
  border-radius: 100%;
  font-size: 26px;
  padding: 0px 0px 3px;
  height: 60px;
  display: none;
}
button.second-btn i {
  font-size: 22px;
  position: absolute;
  left: 18px;
  top: 17px;
}

/* Footer-css */

footer {
  border-top: 1px solid #d9d9d94f;
  padding-top: 70px;
}
.first-row {
  padding: 0px 60px;
  margin-bottom: 12px;
}
.first-row img {
  width: 300px;
}
ul.footer-info {
  margin-bottom: 0px;
  padding: 0px;
  list-style-type: none;
  margin-top: 30px;
}

ul.footer-info li {
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--heading-color);
}

ul.footer-info li span {
  width: 100px;
  display: inline-block;
}

ul.footer-info li a {
  color: var(--heading-color);
}

.footer-link h5 {
  font-size: 20px;
  color: var(--heading-color);
  font-weight: 600;
}

.footer-link ul {
  margin-bottom: 0px;
  padding: 0px;
  list-style-type: none;
  margin-top: 20px;
}

.footer-link ul li {
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--text-color);
}

.footer-link {
  border-left: 1px solid #d9d9d98f;
  padding: 0px 0px 20px 50px;
  height: 222px;
}
.second-row h2 {
  text-align: center;
  font-size: 280px;
  font-weight: 800;
  margin: 40px 0 0;
  line-height: 280px;
  background: linear-gradient(to bottom, #ebebeb, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.copyright-sec {
  padding: 30px 60px 20px;
  border-top: 1px solid #d9d9d94f;
}
.copyright-sec p {
  margin: 0px;
  font-size: 17px;
  color: var(--heading-color);
}

.copyright-sec ul.social-media {
  text-align: center;
  padding: 0px;
  list-style-type: none;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.copyright-sec ul.social-media li {
  font-size: 20px;
  color: var(--heading-color);
}

/* Hotspot-css */

.hotspotSection {
  padding: 50px 50px !important;
}
.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.mapImage {
  width: 100%;
  height: auto;
}
.hotspot {
  position: absolute;
  transform: translate(-50%, 50%);
  cursor: pointer;
}
.hotspot .label {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.hotspot:hover .label,
.hotspot:hover .marker {
  opacity: 1;
  visibility: visible;
}
.marker {
  width: 26px;
  height: 26px;
  background: url("/images/location.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.label {
  background-color: #f6f6f6;
  border: 1px solid var(--orange);
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0px 6px 6px 6px;
}
.label h6 {
  background-color: var(--orange);
  width: 48px;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 6px 6px 0px 0px;
  margin-top: -40px;
  margin-left: -11px;
  margin-right: -11px;
}
.contactContainer {
  text-align: left;
}
.contactContainer h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: var(--heading-color);
}

/* CTA-css */

.cta-sec {
  background-image: url("/images/lines-back.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 26px;
}

.cta-sec h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--heading-color);
}

/* Faqs-css */

.faqs h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--heading-color);
}

.accordion-button:not(.collapsed) {
  color: var(--orange) !important;
  background-color: #0000 !important;
  box-shadow: none !important;
}
.accordion-body {
  text-align: left;
}
.accordion-item {
  border: #d9d9d9 2px solid !important;
  border-radius: 10px !important;
}
.accordion-button {
  border-radius: 10px !important;
}

/* Budget-Section-css */

.budget-sec {
  padding: 100px 0px;
  background-color: #fcfbfd;
}
.budget-sec h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--heading-color);
}
.budget-sec p {
  color: var(--text-color);
}
.divider {
  background-color: #2c3e52;
  height: 2px;
  width: 50px;
  margin-top: 26px;
  margin-bottom: 40px;
}
.form-control,
.form-control-range,
.form-select {
  border-radius: 34px !important;
  padding: 18px !important;
  font-size: 15px !important;
}

.form-control::placeholder {
  color: #999;
}

.budgetLabel {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.budgetDisplay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.range-cyn {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-bottom: 12px;
}

.range-cyn::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background-color: #ddd;
  border-radius: 5px;
}

.range-cyn::-moz-range-track {
  width: 100%;
  height: 2px;
  background-color: #ddd;
  border-radius: 5px;
}

.range-cyn::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--orange);
  cursor: pointer;
  margin-top: -9px;
}

.range-cyn::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--orange);
  cursor: pointer;
}

.range-cyn::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    var(--orange) 0%,
    var(--orange) calc(var(--value) * 1%),
    #ddd calc(var(--value) * 1%),
    #ddd 100%
  );
}

.range-cyn::-moz-range-progress {
  background-color: var(--orange);
  height: 2px;
  border-radius: 5px;
}

/* homepage-future-sec */
section.future-mobile {
  text-align: center;
  padding: 50px 0 90px;
  background-image: url(/images/futuresec-bg.png);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.future-head h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: var(--heading-color);
}
.future-head p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: var(--second-text-color);
  width: 70%;
  margin: 10px auto 50px;
}
section.future-mobile .row {
  margin-bottom: 40px;
}
.future-box {
  border: 1px solid var(--heading-color);
  padding: 45px;
  border-radius: 30px;
  text-align: left;
}
.future-box .future-img {
  margin-bottom: 30px;
  position: relative;
}

.future-box .future-img::before {
  content: "";
  position: absolute;
  width: 42px;
  background: #e84c3d;
  height: 40px;
  left: -45px;
  top: 14px;
}

.future-box .future-img::after {
  content: "";
  position: absolute;
  width: 89%;
  background: #e84c3d;
  height: 40px;
  left: 82px;
  right: -82px;
  top: 14px;
}
.future-box img {
  width: 70px;
}
.future-box h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.future-box p {
  font-size: 17px;
  font-weight: 300;
  color: var(--second-text-color);
}
.future-box ul {
  padding: 0px;
  list-style: none;
  margin: 0px;
}
.future-box ul li {
  font-size: 17px;
  color: #343434;
  font-weight: 600;
  margin-bottom: 2px;
}
button.whole-btn2 {
  background: transparent;
  border: 1px solid var(--orange);
  border-radius: 30px;
  padding: 15px 50px;
  font-size: 18px;
  font-weight: 400;
  transition: 0.5s all;
  text-align: center;
}

button.whole-btn2:hover {
  background: var(--orange);
  color: white;
  transition: 0.5s all;
}

/* homepage-evolution-sec */
section.evolution-sec {
  padding: 70px 0 50px;
  background-image: url(/images/evolution-bg.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.evolution-head h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: var(--heading-color);
}
.phase_a {
  margin-top: 30px;
  position: relative;
}
.phase_a-head h4 {
  margin: 0 auto;
  background: var(--orange);
  width: fit-content;
  padding: 11px 35px;
  font-size: 26px;
  color: white;
  border: 1px solid white;
}

.phase_a::before {
  content: "";
  background: var(--orange);
  width: 1px;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  z-index: -1;
}

/* phase_a-first-row */

.phase_a-first-row {
  padding-top: 80px;
}
.phase_a-first-col {
  padding-left: 110px;
  position: relative;
}
.phase_a-first-col::before {
  content: "";
  position: absolute;
  height: 1px;
  background: var(--orange);
  width: 14%;
  top: 77px;
  left: -12px;
}
.phase_a-first-col img {
  width: 60px;
}
.phase_a-first-col h3 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
  color: var(--heading-color);
}
.phase_a-first-col p {
  margin-bottom: 15px;
  color: var(--third-text-color);
  font-weight: 600;
}
.phase_a-first-col ul {
  list-style-type: decimal;
  padding-left: 15px;
  margin-bottom: 15px;
}
.phase_a-first-col ul li {
  font-size: 15px;
  color: var(--third-text-color);
  font-weight: 500;
  margin-bottom: 4px;
}
.phase_a-first-col button {
  margin-top: 20px;
}
.phase_a-first-col::before {
  content: "";
  position: absolute;
  height: 1px;
  background: var(--orange);
  width: 14%;
  top: 77px;
  left: -12px;
}

.phase_a-first-col .dot {
  background: var(--orange);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  top: 73px;
  position: absolute;
  left: -35px;
}
.phase_a-first-col .dot-container {
  position: relative;
}
.phase_a-first-col .dot-container::before {
  content: "";
  transform: translate(-50%, -50%);
  background-color: #e84c3d4f;
  border-radius: 70%;
  animation: grow 1s infinite;
  top: 78px;
  position: absolute;
  left: -30px;
}

/* phase_a-second-row */
.phase_a-second-col {
  padding-right: 110px;
  position: relative;
  text-align: right;
}
.phase_a-second-col::before {
  content: "";
  position: absolute;
  height: 1px;
  background: var(--orange);
  width: 14%;
  top: 77px;
  left: -12px;
}
.phase_a-second-col img {
  width: 60px;
}
.phase_a-second-col h3 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
  color: var(--heading-color);
}
.phase_a-second-col p {
  margin-bottom: 15px;
  color: var(--third-text-color);
  font-weight: 600;
}
.phase_a-second-col button {
  margin-top: 20px;
}
.phase_a-second-col::before {
  content: "";
  position: absolute;
  height: 1px;
  background: var(--orange);
  width: 14%;
  top: 80px;
  left: 88%;
}
.phase_a-second-col .dot {
  background: var(--orange);
  width: 10px;
  height: 10px;
  border-radius: 100px;
  top: 75px;
  position: absolute;
  right: -34px;
}
.phase_a-second-col .dot-container {
  position: relative;
}
.phase_a-second-col .dot-container::before {
  content: "";
  transform: translate(-50%, -50%);
  background-color: #e84c3d4f;
  border-radius: 70%;
  animation: grow 1s infinite;
  top: 80px;
  position: absolute;
  left: 105.5%;
}

@keyframes grow {
  0% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  50% {
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }
  100% {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
}

/* mid-mobile-scroll */

.mid-mobile-scroll {
  background-image: url("/images/banner-mid.png");
  background-color: #2c3e52;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 50px 200px 50px !important;
  position: relative;
}
.mid-mobile-scroll h2 {
  color: #ffffff8c;
  font-weight: bolder;
  font-size: 160px;
}
.mobile-navs {
  width: 500px;
  position: absolute;
  top: 6%;
  right: 90%;
  z-index: 99;
}
.div-1 {
  color: #fff;
}
.div-1 h3 {
  font-size: 60px;
  font-weight: bold;
}
.div-1 .divider {
  background-color: #fff;
  width: 20px;
  margin: 0px 10px 10px 0px;
}

/* testimonial-slider-css */

.testimonials {
  padding: 100px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-slider {
  background-color: #f9f9ff;
  perspective: 2000px;
}

.orange-sec {
  padding: 50px !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.orange-sec svg {
  background-color: #eb675a;
  color: #fff;
  font-size: 60px;
  padding: 20px;
  border-radius: 100px;
  cursor: pointer;
  z-index: 2;
  position: absolute;
}

.orange-sec svg:first-child {
  left: 50px;
  top: 65px;
  z-index: 99;
}

.orange-sec svg:last-child {
  right: 50px;
  bottom: 65px;
  z-index: 99;
}

.orange-sec .image-container {
  width: 80%;
  height: 600px;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.4, 2, 0.8, 1);
  position: relative;
  transform-origin: center;
}

.orange-sec .image-container.current {
  transform: rotateY(0) scale(1);
  z-index: 3;
}

.orange-sec .image-container.prev {
  transform: rotateY(-150deg) scale(0.8);
  position: absolute;
  top: 0;
  left: -20%;
  z-index: 2;
}
.image-container.prev img,
.image-container.next img {
  display: none;
}
.orange-sec .image-container.next {
  transform: rotateY(150deg) scale(0.8);
  position: absolute;
  top: 0;
  right: -20%;
  z-index: 2;
}
.orange-sec img {
  width: 100% !important;
  height: 600px;
  object-fit: contain !important;
  object-position: center right !important;
  backface-visibility: hidden;
}
.one-test {
  width: 70%;
}

.one-test .divider {
  height: 4px;
  width: 20px;
  margin: 0px;
  background-color: #e1e1e3;
}
.one-test h4 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}
.one-test h3 {
  font-size: 56px;
  color: var(--heading-color);
  font-weight: bold;
  margin-bottom: 26px;
}
.one-test button {
  background-color: #f2f2f6;
  border: 1px solid #0000;
  border-radius: 100px;
  padding: 12px 26px;
}

/* trustee-section */

.trustee {
  padding: 100px 50px !important;
}
.trustee h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 45px;
}
.trustee-card {
  background-color: #f6f6f6;
  border: #ececec solid 1px;
  border-radius: 12px;
}
.trustee-card img {
  width: 80%;
  height: 150px;
  object-fit: contain;
  object-position: center;
}

/* Testimonial-Tabs-Css */

.testimonial-tabs {
  padding: 100px 50px !important;
}
.testimonial-tabs h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 50px;
}
.review {
  background-color: #fafafe;
  padding: 40px;
  border-radius: 12px;
}
.review-2 {
  background-color: #fbfbfb !important;
}
.avatar {
  display: flex;
  width: 200px;
  margin-bottom: 12px;
}
.avatar img {
  width: 60px;
}
.avatar h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
}
.avatar h6 {
  font-size: 12px;
  margin: 0px;
}

/* Mobile-Experiences-Css */

.mobile-experiences {
  padding: 100px 50px !important;
  background: url("/images/back-gradient.png"), top center / cover, no-repeat;
}
.mobile-experiences h2 {
  font-size: 40px;
  margin-bottom: 26px;
}
.mobile-experiences button {
  margin-top: 26px;
  background-color: #0000;
  border: var(--orange) 1px solid;
  padding: 14px 36px;
  border-radius: 100px;
}

.nav-item button {
  background-color: #0000 !important;
  color: #000 !important;
  border-radius: 100px;
  border: 1px solid var(--orange) !important;
  margin-left: 10px;
}
.nav-item .active {
  background-color: var(--orange) !important;
  color: var(--white) !important;
  border-radius: 100px;
  border: 1px solid var(--orange) !important;
}
