a{
    text-decoration: none!important;
}

/* header-css */

header  {
    padding: 30px 60px;
}
.navigation ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0px;
}
.navigation ul li a{
    color: #0A0A0E;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}


button.whole-btn {
    background: transparent;
    border: 1px solid #E84C3D;
    border-radius: 30px;
    padding: 10px 50px;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s all;
}

button.whole-btn:hover {
    background: #E84C3D;
    color: white;
    transition: 0.5s all;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 22px;
}
button.second-btn{
    background: #E84C3D;
    color: white;
    border: 1px solid #E84C3D;
    border-radius: 40px;
    padding: 6px 50px;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s all;
    text-align: left;
    line-height: 21px;
}
button.second-btn span{
    font-size: 11px;
}

