:root {
    --heading-color: #2C3E52;
    --sub-heading-color: #0A0A0E;
    --text-color: #6B6B6B;
    --orange: #E84C3D;
    --white: #ffffff;
  }

a{
    text-decoration: none!important;
}

/* header-css */

header  {
    padding: 30px 60px;
}
.navigation ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 30px;
    margin: 0px;
}
.navigation ul li i {
    font-size: 23px;
}
.navigation ul li a{
    color: var(--sub-heading-color);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}
button.whole-btn {
    background: transparent;
    border: 1px solid var(--orange);
    border-radius: 30px;
    padding: 10px 50px;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s all;
}

button.whole-btn:hover {
    background: var(--orange);
    color: white;
    transition: 0.5s all;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 22px;
}
button.second-btn{
    background: var(--orange);
    color: white;
    border: 1px solid var(--orange);
    border-radius: 40px;
    padding: 6px 50px;
    font-size: 18px;
    font-weight: 400;
    transition: 0.5s all;
    text-align: left;
    line-height: 21px;
    position: relative;
}
button.second-btn span{
    font-size: 11px;
}

button.dark-mode {
    background: #2C3E52;
    border: none;
    color: white;
    width: 60px;
    border-radius: 100%;
    font-size: 26px;
    padding: 0px 0px 3px;
    height: 60px;
}
button.light-mode {
    background: white;
    border: none;
    color: #2C3E52;
    width: 60px;
    border-radius: 100%;
    font-size: 26px;
    padding: 0px 0px 3px;
    height: 60px;
    display: none;
}
button.second-btn i {
    font-size: 22px;
    position: absolute;
    left: 18px;
    top: 17px;
}

/* Footer-css */

footer{
    border-top: 1px solid #d9d9d94f;
    padding-top: 70px;
}
.first-row {
    padding: 0px 60px;
}