@media only screen and (max-width: 600px) {
  body {
    overflow-x: none;
  }
  .main-banner {
    padding: 50px 30px !important;
  }
  .main-banner h1 {
    font-size: 50px;
  }
  #header {
    padding: 20px;
  }
  #header img {
    width: 200px;
  }
  /* #header .buttons {
    display: none;
  } */
  /* .navigation {
    display: none;
  } */
  .buttons {
    align-items: center;
    justify-content: center;
  }
  .navigation ul{
    flex-direction: column;
  } 
  .right-banner-div {
    display: none;
  }
  .bars-btn-container {
    display: none;
  }
  .bars-btn {
    position: fixed;
    top: 30px;
    right: 26px;
  }
  .future-head h2 {
    font-size: 29px;
  }
  .future-mobile {
    padding: 0px 20px !important;
  }
  .process-01,
  .process-02,
  .process-03 {
    padding: 26px;
  }
  .evolution-head h2 {
    font-size: 29px;
  }
  .phase_a-second-col::after {
    right: 0;
  }
  .phase_b-first-col::after {
    right: 0;
  }
  .phase_b-third-col::after {
    right: 0;
  }
  .phase_b-fifth-col::after {
    right: 0;
  }
  .testimonials {
    padding: 26px !important;
  }
  .first-row {
    padding: 0;
  }
  .footer-link {
    padding: 0;
  }
  .copyright-sec {
    padding: 0;
  }
  footer {
    padding: 50px 10px;
  }
  .testimonials button{
    display: none;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1024) {
}
