name: Deploy to Server

on:
  push:
    branches:
      - main # is branch pe jab push hoga tab deploy karega

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20'

    - name: Install dependencies
      run: npm install --force

    - name: Build project
      run: npm run build

    - name: Deploy to server
      env:
        HOST: ${{ secrets.SERVER_HOST }}
        USERNAME: ${{ secrets.SERVER_USERNAME }}
        SSH_KEY: ${{ secrets.SERVER_SSH_KEY }}
        DESTINATION: ${{ secrets.DESTINATION_PATH }}
      run: |
        echo "$SSH_KEY" > key.pem
        chmod 600 key.pem
        ssh -i key.pem -o StrictHostKeyChecking=no $SERVER_USERNAME@$SERVER_HOST "pm2 restart 0"
